<!DOCTYPE html>
<html>
<head>
	<title>人才招聘网站</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compaptible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="招聘，人才">
	<link rel="stylesheet" type="text/css" href="/stylesheets/head.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/communication.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
</head>
<!-- https://bitbucket.org/gt-dev/gt-matrix-frontlib/pull-requests/new?source=ranfenghua&t=1 -->

<body>
<header>
	<div class="header">
		<div class="header_1">
			<img src="/images/2.jpg">
			<span>你离理想的工作只差一个网站</span>
		</div>
		<div class="header_3">
				<a href="/">首页</a>
				<a href="javascript:;" id="person">个人中心</a>
		</div>
		<div class="header_2">
			<input type="text" name="" placeholder="请输入职位......" maxlength="10" pattern="/^\w+$/" id="text">
			<input type="button" name="" value="搜索" id="select">
			<div id="relative"></div>
		</div>
	</div>
</header>
<div class="contains">
	<nav class="nav_left" >
	<div class="nav_list">
		<img src="./images/2.jpg">
		<span>hi,<%= title%></span>
	</div>
	<div class="nav_slideshow">
		<span>热门关键词：</span>
	</div>
	<div class="nav_images">

	</div>
</nav>
<div class="nav_right">
	<div class="middle">
		<div class="section_header">
				<p value="<%= result[0].companyID%>"><%= result[0].companyName%></p>
				<p>发布时间:<%= result[0].time%></p>
			</div>
			<div class="section_content">
				<p><%= result[0].content%></p>
				<div class="section_bottom">
				</div>
			</div>
			<div class="section_header">
				<% for(var i=0;i<result.length;i++){%>
						<div class="section_header_content">
							<p><%= result[i].positionName %></p>
						<p><%= result[i].required %></p>
						</div>
				<% } %>
			</div>
			<div class="section_header">
				<table>
					<tbody>
						<tr>
							<th>岗位</th>
							<th>数量</th>
							<th>薪资</th>
							<th>操作</th>
							<th>收藏</th>
						</tr>
						<% for(var i=0;i<result.length;i++){%>
						<tr>
						<th value="<%= result[i].positionID %>"><%= result[i].positionName %></th>
						<th><%= result[i].number %></th>
						<th><%= result[i].pay %></th>
							<th class="play" value="0">投递</th>
							<th class="play" value="1">收藏</th>

				</tr>
				<% } %>
					</tbody>
				</table>
			</div>
	</div>
<div class="nav_right1">
	<div>您也许喜欢</div>
	<div class="right_cell">
		<a href="">
			<img src="./images/2.jpg">
		</a>
		<div class="right_title">
			<a href="">宣传会</a>
		</div>
	</div>
	<div class="right_cell">
		<a href="">
			<img src="./images/2.jpg">
		</a>
		<div class="right_title">
			<a href="">宣传会</a>
		</div>
	</div>
	<div class="right_cell">
		<a href="">
			<img src="./images/2.jpg">
		</a>
		<div class="right_title">
			<a href="">宣传会</a>
		</div>
	</div>
	<div class="right_cell">
		<a href="">
			<img src="./images/2.jpg">
		</a>
		<div class="right_title">
			<a href="">宣传会</a>
		</div>
	</div>
	
</div>
</div>
</div>
<div class="footer">
    <a href="http://www.baidu.com">帮助</a>
    <p>电话号码：15549068673</p>
    <div class="useless">
        <ul>
            <li>欢迎来到</li>
            <li>我的界面</li>
            <li>我是你们</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>你们的好朋友</li>
            <li>华英雄</li>
            <li>华仔</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>世界有趣点</li>
            <li>非常完美</li>
            <li>点击登录</li>
        </ul>
    </div>
</div><!-- 底部 -->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<!-- 引入 gt.js，既可以使用其中提供的 initGeetest 初始化函数 -->
<script src="/javascripts/gt.js"></script>
<script type="text/javascript" src="/javascripts/cookie.js"></script>
<script type="text/javascript" src="/javascripts/select.js"></script>
<script type="text/javascript" src="/javascripts/communicate.js"></script>
</body>

</html>
<!-- file:///F:/sublineText3/xml/bysj/js/GUI.js -->
<!-- file:///F:/js/GUI.js --><!--
file:///F:/sublineText3/xml/bysj/html/js/GUI.js -->
