<!DOCTYPE html>
<html>
<head>
	<title>人才招聘网站</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compaptible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="招聘，人才">
	<link rel="stylesheet" type="text/css" href="/stylesheets/GUI.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/head.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
</head>
<body>
<header>
	<div class="header">
		<div class="header_1" onClick='window.location.href="/love.html"'>
			<img src="/images/2.jpg">
			<span>你离理想的工作只差一个网站</span>
		</div>
		<div class="header_3">
				<a href="userLogin.html">用户注册</a>
			    <a href="companyLogin.html">企业注册</a>
				<a href="/">主界面</a>
		</div>
		<div class="header_2">
			<input type="text" name="" placeholder="请输入职位......" maxlength="10" pattern="/^\w+$/" id="text">
			<input type="button" name="" value="搜索" id="select">
			<div id="relative"></div>
		</div>
	</div>
</header>
<canvas id="canvas"></canvas>
<nav>
	<div class="nav_list"></div>
	<div class="nav_slideshow"></div>
	<div class="nav_images"></div>
</nav>
<article>
	<section>
		<div class="section_jq">
			<div class="section_header"></div>
			<div class="section_left">
				<div class="section_xz">
			<div class="section_bt"></div>
			<div class="section_sj"></div>
			</div>
			<div class="section_content"></div>
			<div class="section_right">
				<div class="section_xz">
			<div class="section_bt"></div>
			<div class="section_sj"></div>
			</div>
			<div class="section_content"></div>
			</div></div>
		</div>
	</section>
	<section>
		<div class="section_all color">
			<form>
    <div>
        <label for="username">用户名：</label>
        <input class="inp" id="username" type="text" value="" placeholder="请输入用户名......" maxlength="14">
    </div>
    <br>
    <div>
        <label for="password">密码：</label>
        <input class="inp" id="password" type="password" value="" placeholder="请输入密码......" maxlength="12">
    </div>
		<br>
    <div>
        <label style=" display:inline-block;margin-bottom:30px">完成验证：</label>
        <div id="captcha1">
            <p id="wait2" class="show">正在加载验证码......</p>
        </div>
    </div>
    <p id="notice2" class="hide">请先完成验证</p>
    <input class="btn" id="submit" type="submit" value="登陆">
</form>
		</div>
	</section>
</article>
<div class="footer">
    <a href="http://www.baidu.com">帮助</a>
    <p>电话号码：15549068673</p>
    <div class="useless">
        <ul>
            <li>欢迎来到</li>
            <li>我的界面</li>
            <li>我是你们</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>你们的好朋友</li>
            <li>华英雄</li>
            <li>华仔</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>世界有趣点</li>
            <li>非常完美</li>
            <li>点击登录</li>
        </ul>
    </div>
</div><!-- 底部 -->
<script type="text/javascript" src="/javascripts/background.js"></script>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<!-- 引入 gt.js，既可以使用其中提供的 initGeetest 初始化函数 -->
<script src="/javascripts/cookie.js"></script>
<script src="/javascripts/gt.js"></script>
<script type="text/javascript" src="/javascripts/GUI.js"></script>
<script type="text/javascript" src="/javascripts/select.js"></script>
</body>

</html>
<!-- file:///F:/sublineText3/xml/bysj/js/GUI.js -->
<!-- file:///F:/js/GUI.js --><!-- 
file:///F:/sublineText3/xml/bysj/html/js/GUI.js -->
