<!DOCTYPE html>
<html>
<head>
	<title>人才招聘网站</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compaptible" content="ie=edge">
	
	<meta name="description" content="招聘，人才">
	<link rel="stylesheet" type="text/css" href="/stylesheets/head.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
</head>
<body>
<header>
	<div class="header">
		<div class="header_1">
			<img src="/images/2.jpg">
			<span><%= title%></span>
		</div>
		<div class="header_3">
			    <a href="/GUI.html">登录</a>
			    <a href="userLogin.html">用户注册</a>
			    <a href="companyLogin.html">企业注册</a>
				<a href="javascript:;" id="person">个人中心</a>
				<a href="javascript:;" id="quit">退出</a>
		</div>
		<div class="header_2">
			<input type="text" name="" placeholder="请输入职位......" maxlength="10" pattern="/^\w+$/" id="text">
			<input type="button" name="" value="搜索" id="select">
			<div id="relative"></div>
		</div>
	</div>
</header>
<main>
	<div class="daohan">
		<div class="main_left">
	<ul>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=100">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=101">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=102">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=103">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=104">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=105">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=106">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=107">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=108">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=109">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=110">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=111">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=112">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=113">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=114">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=115">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=116">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=117">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=118">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=119">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=118">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=117">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=116">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=115">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=114">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=111">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=112">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=113">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=114">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=115">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=119">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=113">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=112">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=114">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=115">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=117">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=116">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=115">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=113">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=111">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="">
				<div class="white"></div>
			<span href="">互联网/软件</span></a>
			<div class="show">
				<ul>
					<li><a href="/ajax?number=0&value=114">
			<span href="">前端</span></a></li>
					<li><a href="/ajax?number=0&value=113">
			<span href="">服务端</span></a></li>
			<li><a href="/ajax?number=0&value=112">
			<span href="">数据库</span></a></li>
			<li><a href="/ajax?number=0&value=113">
			<span href="">移动端</span></a></li>
			<li><a href="/ajax?number=0&value=112">
			<span href="">服务端</span></a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<div class="main_right">
	<div class="top_slide_wrap">
	<div class="bx-wrapper">
		<ul class="slide_box">
			<li><a href="/communication?companyID=100"><img src="images/main1.jpg" alt=""><p>丰华技术有限公司</p></a></li>
			<li><a href="/communication?companyID=101"><img src="images/main2.jpg" alt=""><p>谷壳</p></a></li>
			<li><a href="/communication?companyID=102"><img src="images/main3.jpg" alt=""><p>古德</p></a></li>
			<li><a href="/communication?companyID=103"><img src="images/main4.jpg" alt=""><p>谷歌</p></a></li>
		</ul>
		<ul class="bx-controls">
			<li>
				<a class="actives" href="/">
					<img src="images/main1.jpg" alt="">
					<span>丰华技术有限公司</span>
				</a>
			</li>
			<li>
				<a class="actives" href="/">
					<img src="images/main2.jpg" alt="">
					<span>谷壳</span>
				</a>
			</li>
			<li>
				<a class="actives" href="/">
					<img src="images/main3.jpg" alt="">
					<span>古德</span>
				</a>
			</li>
			<li>
				<a class="actives" href="/">
					<img src="images/main4.jpg" alt="">
					<span>谷歌</span>
				</a>
			</li>
		</ul>
	</div>
	<a class="options pre" href="javascript:;" data-drec="pre"><i class="pre"></i></a>
	<a class="options next" href="javascript:;" data-drex="next"><i class="next"></i></a>
</div>
</div>
	</div>
	<div class="notice">
		<div class="notice1">
		<p class="title1"></p>
		<p class="content"></p>
		<p class="time"></p>
		</div>
	</div>
<section>
		<div class="panel_top">
			<span>知名企业</span>
			<a href="">
				查看更多
				<em>@</em>
			</a>
		</div>
		<div id="panel_bottom">
		</div>
</section>
	<section>
		<div class="panel_top">
			<span>最新招聘信息</span>
			<a href="">
				查看更多
				<em>@</em>
			</a>
		</div>
		<table>
				<tbody>
					<tr>
						<th>公司名</th>
						<th>岗位名</th>
						<th>数量</th>
						<th>地点</th>
						<th>时间</th>
						<th>查看详细信息</th>
					</tr>
				</tbody>
			</table>
	</section>
	<section>
		<a href="/communication?companyID=100">
			<div class="panel_top_left">
			<img src="./images/2.jpg">
		</div>
		</a>
		<a href="/communication?companyID=101">
			<div class="panel_top_right">
			<img src="./images/5.jpg">
		</div>
		</a>
</section>
<section>
		<div class="panel_top">
			<span>互联网前百强</span>
			<a href="">
				查看更多
				<em>@</em>
			</a>
		</div>
		<table>
				<tbody>
					<tr>
						<th>公司名</th>
						<th>城市</th>
						<th>排名</th>
						<th>公司ID</th>
						<th>类型</th>
						<th>查看详细信息</th>
					</tr>
				</tbody>
			</table>
	</section>
	<section>
		<div class="panel_top">
			<span>金融前百强</span>
			<a href="">
				查看更多
				<em>@</em>
			</a>
		</div>
		<table>
				<tbody>
					<tr>
						<th>公司名</th>
						<th>城市</th>
						<th>排名</th>
						<th>公司ID</th>
						<th>类型</th>
						<th>查看详细信息</th>
					</tr>
				</tbody>
			</table>
	</section>
	<section>
		<div class="panel_top">
			<span>房地产前百强</span>
			<a href="">
				查看更多
				<em>@</em>
			</a>
		</div>
		<table>
				<tbody>
					<tr>
						<th>公司名</th>
						<th>城市</th>
						<th>排名</th>
						<th>公司ID</th>
						<th>类型</th>
						<th>查看详细信息</th>
					</tr>
				</tbody>
			</table>
	</section>
</main>
<div class="footer">
    <a href="http://www.baidu.com">帮助</a>
    <p>电话号码：15549068673</p>
    <div class="useless">
        <ul>
            <li>欢迎来到</li>
            <li>我的界面</li>
            <li>我是你们</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>你们的好朋友</li>
            <li>华英雄</li>
            <li>华仔</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>世界有趣点</li>
            <li>非常完美</li>
            <li>点击登录</li>
        </ul>
    </div>
</div><!-- 底部 -->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<!-- 引入 gt.js，既可以使用其中提供的 initGeetest 初始化函数 -->
<script src="/javascripts/cookie.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<!-- <script type="text/javascript" src="/javascripts/slow.js"></script> -->
<script type="text/javascript" src="/javascripts/select.js"></script>
</body>

</html>
<!-- file:///F:/sublineText3/xml/bysj/js/GUI.js -->
<!-- file:///F:/js/GUI.js --><!-- 
file:///F:/sublineText3/xml/bysj/html/js/GUI.js -->
