<!DOCTYPE html>
<html>
<head>
	<title>人才招聘网站</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compaptible" content="ie=edge">
	<meta name="viewport" content="widtd=device-widtd,initial-scale=1">
	<meta name="description" content="招聘，人才">
	<link rel="stylesheet" type="text/css" href="/stylesheets/head.css">
f	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
</head>
<body>
<header>
	<div class="header">
		<div class="header_1">
			<img src="/images/2.jpg">
			<span>你离理想的工作只差一个网站</span>
		</div>
		<div class="header_3">
				<a href="/">首页</a>
		</div>
		<div class="header_2">
			<input type="text" name="" placeholder="请输入职位......" maxlengtd="10" pattern="/^\w+$/" id="text">
			<input type="button" name="" value="搜索" id="select">
			<div id="relative"></div>
		</div>
	</div>
</header>
<div class="contains">
	<table>
		<tbody>
			<tr>
				<th>姓名:</th>
				<td><input type="text" name=""/></td>
				<th>性别:</th>
				<td><input type="text" name=""/></td>
			</tr>
			<tr>
				<th>年龄:</th>
				<td><input type="text" name=""/></td>
				<th>电话:</th>
				<td><input type="text" name=""/></td>
			</tr>
			<tr>
				<th>意向:</th>
				<td><input type="text" name=""/></td>
				<th>类型:</th>
				<td><select>
					<option>实习生</option>
					<option>应届生</option>
					<option>一年到三年</option>
					<option>三年以上</option>
				</select></td>
			</tr>
		</tbody>
	</table>
	<div class="content">
		<div class="type">
				<p>教育背景:</p>
				<textarea></textarea>
			</div>
			<div class="type">
				<p>介绍自己:</p>
				<textarea></textarea>
			</div>
			<input type="button" name="" value="提交">
	</div>

</div>
<div class="footer">
    <a href="http://www.baidu.com">帮助</a>
    <p>电话号码：15549068673</p>
    <div class="useless">
        <ul>
            <li>欢迎来到</li>
            <li>我的界面</li>
            <li>我是你们</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>你们的好朋友</li>
            <li>华英雄</li>
            <li>华仔</li>
        </ul>
    </div>
        <div class="useless">
        <ul>
            <li>世界有趣点</li>
            <li>非常完美</li>
            <li>点击登录</li>
        </ul>
    </div>
</div><!-- 底部 -->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/cookie.js"></script>
<script type="text/javascript" src="/javascripts/personResume.js"></script>
<script type="text/javascript" src="/javascripts/select.js"></script>
</body>

</html>