.contains{
	width: 100%;
	color: white;
	height: 100%;
}
.contains::after{
	content: "";
	overflow: hidden;
	float: none;
}
.nav_left{
	width: 18%;
	border:none;
	background: #2a2d33;
	margin-top: 50px;
	position: fixed;
	height: 100%;
}
.nav_list{
	background: #303641;
	padding: 20px;
}
.nav_list img{
	width: 50px;height: 50px;border-radius: 50%;vertical-align: middle;
}
.nav_list span {
	display: inline-block;
	padding-left: 20px;
	font-size: 24px;
}
.nav_slideshow span{
	display: inline-block;
	color:orange;
	margin: 15px 0 0 25px;
	font-size: 14px;
}
.nav_images{
	height: 100%;
	width: 100%;
}
.nav_images::after{
	display: block;clear: both;content: "";
}
.nav_images>.label{
	border-radius: 50%;
	padding: 5px;
	width: 45px;
	height: 30px;
	background: black;
	margin:10px 0 10px  25px;
	float: left;
	text-align: center;
}
.nav_images>.label:hover{
	background: orange;
}
.nav_images>.label a{
	text-decoration: none;
	color:white;
}
.middle{
	float: left;
	width: 70%;
	border:none;
	color:#efefef;
	background: #efefef;
	padding: 0 20px;
	margin-top: 50px;
}
.section_header,.section_bottom{
	width: 100%;
	background: white;
	overflow: hidden;	
	margin:30px 0;
}
.section_row{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.section_title{
	position: absolute;
	font-size: 16px;
	color: orange;
	top:20px;
	left: 10px;
}
.section_content{
	padding: 50px 0 0 70px;
}
.section_content a{
	height: 22px;
	line-height: 22px;
	padding: 3px 6px;
}
.section_content a:hover{
	background: #4a90c6;
}
.add{
	background: #4a90c6;
}
.section_middle_top{
	width: 100%;height: 50px;line-height: 50px;background:linear-gradient(180deg, #ffffff 0%,#f3f3f3 100%);
}
.section_middle_top :after{
	display: block;content: "";clear: both;
}
.section_middle_top>.left{
	float: left;width: 30%;height: 50px;line-height: 50px;padding-left:10px;
}
.section_middle_top>.right{
	display:inline-block;float: right;width: 30%;height: 50px;line-height: 50px;background:linear-gradient(180deg, #ffffff 0%,#f3f3f3 100%);
}
.section_middle_down{
	background: white;
	height: 100%;
	width: 100%;
}
table{
	table-layout: fixed;
    margin-top: -20px;
    color: #333333;
    margin-bottom: 0px;
        width: 100%;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
}
th{
	border-bottom: 1px dashed black;
overflow: hidden; /*自动隐藏文字*/
text-overflow: ellipsis;/*文字隐藏后添加省略号*/
white-space: nowrap;/*强制不换行*/
}
.nav_right{
	float:right;
	width: 82%;
	overflow: hidden;
}
.nav_right1{
	float: right;
	width: 24%;
	margin-top: 50px;
}
.right_cell{
	position: relative;
}
.right_title{
	position: absolute;
	width: 90%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	bottom: 12px;
	display: none;
	color: white;
	background: black;
	opacity: .7;
}
.nav_right1 img{
	display: inline-block;
	width: 90%;height: 100px;margin: 12px 0;border:0;
}
.color,.redColor{
	background: skyblue;
}
.page{display: flex;}
.section_bottom ul{
	display: flex;align-items: center;justify-content: flex-end;
}
.section_bottom ul li{
	width: 80px;height: 50px;
}
.section_bottom ul li input{
	width: 90%;height: 30px;line-height: 30px;border: none;cursor: pointer;
}
.section_bottom ul li input[type="text"]{
	width: 90%;height: 30px;line-height: 30px;border: none;cursor:text;
}
.section_bottom ul li input[type="text"]{
	border: 1px solid blue;
}