
body{font:normal 14px/1.5 Arial,STHeiti,Microsoft YaHei,simsun,Helvetica,sans-serif;color:#343434;background-color:#f6f6f6}
.none{display:none}
/* top_slide_wrap */
.notice{
	width: 20%;background: url(/images/notice.jpg);height:368px;position: absolute;top: 50px;right: 0;
}
.top_slide_wrap{width:100%;height:460px;position:relative}
.top_slide_wrap .bx-wrapper{overflow:hidden}
.top_slide_wrap .bx-wrapper ul.slide_box{height:460px;position:relative;overflow:hidden;z-index:4}
.top_slide_wrap .bx-wrapper ul.slide_box li{position:absolute;width:100%;height:460px;left:0;top:0;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
.top_slide_wrap .bx-wrapper ul.slide_box li a{color:#fff;display:block;cursor:pointer}
.top_slide_wrap .bx-wrapper ul.slide_box li a img{width:100%;height:460px}
.top_slide_wrap .bx-wrapper ul.slide_box li a:hover{text-decoration:none}
.top_slide_wrap .bx-wrapper ul.slide_box li p{height:55px;line-height:55px;margin-top:-173px;padding:0 20px;text-overflow:ellipsis;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:100%;word-wrap:normal;width:100%;color:#fff;font-size:24px}
.top_slide_wrap .bx-wrapper ul.bx-controls{margin-top:-117px;background-color:#000;padding:2px 0 2px 2px;overflow:hidden;*zoom:1;position:relative;z-index:5}
.top_slide_wrap .bx-wrapper ul.bx-controls li{float:left;position:relative;width:25%;height:70px;text-align: center;line-height: 70px;}
.top_slide_wrap .bx-wrapper ul.bx-controls li a.actives span,.top_slide_wrap .bx-wrapper ul.bx-controls li a:hover span{top:115px;}
.top_slide_wrap .bx-wrapper ul.bx-controls li a.actives p,.top_slide_wrap .bx-wrapper ul.bx-controls li a:hover p{top:115px}
.top_slide_wrap .bx-wrapper ul.bx-controls li img{width:100%;height:70px}
.top_slide_wrap .bx-wrapper ul.bx-controls li span{position:absolute;left:0;top:0;z-index:6;width:100%;height:70px;background-color:#2c85ff;opacity:.9;-webkit-transition:top .5s ease-out;-moz-transition:top .5s ease-out;-ms-transition:top .5s ease-out;-o-transition:top .5s ease-out;transition:top .5s ease-out}
.top_slide_wrap .bx-wrapper ul.bx-controls li p{position:absolute;left:0;top:0;z-index:7;width:100%;height:73px;padding:0 10px;color:#fff;transition:top .3s ease-out}
.top_slide_wrap a.options{position:absolute;top:136px;width:55px;height:56px;padding:14px 0 0 0;background-color:#000;opacity:.5;z-index:5}
.top_slide_wrap a.options i{display:block;font-size:0;line-height:0;width:25%;height:40px}
.top_slide_wrap a.options i.pre{background:url(../images/icons.png) no-repeat 0 0}
.top_slide_wrap a.options i.next{background:url(../images/icons.png) no-repeat -25px 0}
.top_slide_wrap a.options.pre{left:0}
.top_slide_wrap a.options.next{right:0}
.daohan{
	width:80%;position: relative;}
.main_right{width: 100%;height: 460px;}
.main_left{
		width:15%;height: 208px;position: absolute;top: 50px;left: 140px;z-index: 99;
	}
	.main_left a{
		line-height: 40px;
	}
	ul{
		list-style: none;
	}
.main_left ul li{
	width: 100%;height: 40px;background:#aedbfb;border-bottom: 1px solid white;text-align: center;
}
.main_left ul li a{
	width: 100%;height: 100%;display:block;
}
	.main_left ul li:hover{
		background: #1c6fe2;height: 45px;
	}
	.main_left .show{
		position: absolute;left: 100%;background: #efefef;display: none;width: 170px;z-index: 99;
	}
	p{
		word-break:break-all;overflow: hidden;
	}
	.main_left .white{
		height: 40px;width: 10px;position: absolute;background: white;right: -10px;display: none;
	}
section{margin:30px auto;width:90%;background:white;}
.panel_top{position:relative;width: 100%;height: 50px;line-height: 50px;border-bottom: 1px solid #efefef;background:linear-gradient(180deg, #ffffff 0%,#f3f3f3 100%); }
.panel_top span{padding-left: 20px;}
.panel_top>a{display:inline-block;position: absolute;right: 10px;}
#panel_bottom{position: relative;margin:auto;}
#panel_bottom::after{content:'';clear: both;display: block;}
.box{
    /*内边距*/
    position: relative;
    padding:15px 0 0 15px ;
    float: left;
}
.pic{
    /*边框*/
    border:1px solid #dddddd;
}
.title{
    position: absolute;
    bottom: 0px;
    width: 165px;height: 100px;
    display: none;
    text-align: center;
    background:rgba(57, 139, 251, .7);
    cursor: pointer;
    vertical-align: middle;
    line-height: 100px;
}
.pic img{
	width:150px;height:80px;
}
table{
    color: #333333;
    margin-bottom: 0px;
        width: 100%;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
}
th{
	border-bottom: 1px dashed black;
overflow: hidden; /*自动隐藏文字*/
text-overflow: ellipsis;/*文字隐藏后添加省略号*/
white-space: nowrap;/*强制不换行*/
}
.visit{
	width: 50px;height: 30px;background: #efefef;cursor: pointer;text-align: center;line-height: 30px;margin: auto;
}
.visit:hover{
	background: black;
}
section::after{
	content: "";display: block;clear: both;
}
.panel_top_left{
	float: left;width: 40%;height: 250px;margin: 25px 50px;cursor: pointer;
}
.panel_top_right{
	float: right;width: 40%;height: 250px;margin: 25px 50px;cursor: pointer;
}
.panel_top_left img,.panel_top_right img{
	width: 100%;height: 100%;
}
.notice1{
	padding-top: 220px;margin:auto;text-align: center;
}
.title1,.content,.time{
	width: 80%;margin:auto;height: 50px;font-size: 16px;color: white;
}
